name: devops-image-builder

on:
  # push:
  #   branches:
  #     - "main"
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '00 03 * * 0'

env:
  GIT_TAG_VERSION_MAJOR_MINOR: "1.0"
  GITLAB_CONTAINER_REGISTRY: registry.gitlab.com/jinal-shah/devops/images
  GCR_GITHUB_CONTAINER_REGISTRY: ghcr.io/jinalshah/devops/images
  DOCKERHUB_CONTAINER_REGISTRY: js01

permissions:
  contents: write

jobs:

  lint:

    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v6

      - name: ShellCheck
        run: |
          sudo apt-get install -y shellcheck
          shellcheck scripts/*.sh

  all-devops:

    needs: lint
    uses: ./.github/workflows/build-image.yml
    with:
      target: 'all-devops'
      version_prefix: '1.0'
      gitlab_registry: 'registry.gitlab.com/jinal-shah/devops/images'
      ghcr_registry: 'ghcr.io/jinalshah/devops/images'
      dockerhub_registry: 'js01'
      push_latest: ${{ github.ref == 'refs/heads/main' }}
    secrets: inherit

  aws-devops:

    needs: lint
    uses: ./.github/workflows/build-image.yml
    with:
      target: 'aws-devops'
      version_prefix: '1.0'
      gitlab_registry: 'registry.gitlab.com/jinal-shah/devops/images'
      ghcr_registry: 'ghcr.io/jinalshah/devops/images'
      dockerhub_registry: 'js01'
      push_latest: ${{ github.ref == 'refs/heads/main' }}
    secrets: inherit

  gcp-devops:

    needs: lint
    uses: ./.github/workflows/build-image.yml
    with:
      target: 'gcp-devops'
      version_prefix: '1.0'
      gitlab_registry: 'registry.gitlab.com/jinal-shah/devops/images'
      ghcr_registry: 'ghcr.io/jinalshah/devops/images'
      dockerhub_registry: 'js01'
      push_latest: ${{ github.ref == 'refs/heads/main' }}
    secrets: inherit
